<div class="d-flex">

  <!-- SIDEBAR -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">GIF APP</h3>

    <hr class="text-white">

    <!--Lista de elementos-->
    <div class="list-group list-reset">
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>

  </div>
  <!-- FIN SIDEBAR -->

  <div class="container">
    <div class="tow p-3">

      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>

      <hr>

      <div class="row">
        <div class="col">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut, beatae consequuntur corporis dicta dolorem eaque harum illum impedit ipsa obcaecati quia, quos recusandae reiciendis suscipit, tempore tenetur ullam ut!
        </div>
      </div>

    </div>
  </div>

</div>
